.search-input{
    border-style: none;
}

.search-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tree-img{
    height: 20px;
}

.search-icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-icon-search-input-tree-container{
    border-style: solid;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-width: thin;

}

.plants-posts-button-container{
    width: 11%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .scroll-img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
} */

.plants-button{
    padding: 5px;
    background-color:#165315;
    color: #ffffff;
    border-style: none;
    border-radius: 0px;
    cursor: pointer;
}

/* .scroll-element{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} */

/* .scroll-container{
    display: flex;
    flex-direction: row;
    
    overflow-x: scroll;
    gap: 20px;
} */

.count-short-by-btn-container{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-menu-short-by-btn-and-products-container{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: flex-start;
    padding-top: 10px;
    gap: 50px;
   
}

/* .filter-clear-container{
    width: 30%;
} */

/* .scroll-elements-text{
    text-align: center;
} */

.count-short-by-btn-and-products-container{
    width: 60%;
}