.logo-chaperone-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.controllers-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.controllers-text-container{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 48%;

}


.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.profile-logo-and-cart-logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile-text{
    margin: 0px;
}


.profile-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-icon-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.tools-down-arrow-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}